<div class="page-header">
  <h1>Room Preference #<%= @room_preference.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Type one</dt>
  <dd><%= @room_preference.type_one %></dd>

  <dt>Type two</dt>
  <dd><%= @room_preference.type_two %></dd>

  <dt>Type three</dt>
  <dd><%= @room_preference.type_three %></dd>

</dl>
